* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --desktop-max-width: 1350px;
  --desktop-padding: 0px 50px 0px 50px;
  --mobile-padding: 0px 18px 0px 18px;
  --section-margin: 35px 0px 35px 0px;
  --desktop-body-text: 20px;
  --desktop-heading-text: 38px;
  --desktop-subheading-text: 30px;
  --desktop-input-field: 18px;
  --mobile-body-text: 17px;
  --mobile-heading-text: 26px;
  --mobile-subheading-text: 22px;
  --mobile-input-field: 16px;
  --global-button-padding: 5px 32px 8px 32px;
  --mobile-button-mex-height: 45px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #372c2e;
  font-family: "Cygre", sans-serif;
  display: flex;
  flex-direction: column;
  background-size: 180px; /* Set the size of each grid cell to match the size of your image */
  background-repeat: repeat; /* Repeat the image to fill the background */
  background-position: left; /* Center the background image */

  background-position: 20px 0px; /* Start the background position at the top-left corner */
  background-attachment: fixed; /* Make the background image fixed */
  /* Other global styles */
}
a {
  text-decoration: none;
}

h1 {
  font-size: var(--mobile-heading-text);
  font-weight: bold;
}

h2 {
  font-size: var(--mobile-subheading-text);
  font-weight: bold;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: var(--desktop-heading-text);
    font-weight: bold;
  }

  h2 {
    font-size: var(--desktop-subheading-text);
    font-weight: bold;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
}
a {
  text-decoration: none;
}
