.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mobile-padding);
}

.container {
  min-height: 95vh;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 50px;
}

.index button {
  font-size: 25px;
}

.quoteContainer {
  margin-top: 10vh;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text {
  color: white;
  font-size: 24px;
}

.index button {
  font-size: 18px;
}

.author {
  color: #df9d48;
  font-size: 20px;
}

.languageSelector {
  display: flex;
  gap: 20px;
  margin-bottom: 15vh;
}

.languageSelector button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 8px;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

.languageSelector button.active {
  background-color: #df9d48;
  border: 2px solid #df9d48;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.buttonContainer button {
  padding-left: 17px;
  padding-right: 17px;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {
  .index {
    padding: var(--desktop-padding);
    padding-bottom: 100px;
  }
  .container {
    max-width: var(--desktop-max-width);
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
}

.sign {
  color: white;
}

.index a {
  color: #df9d48;
}
